@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Gallery";
}

<!DOCTYPE html>


<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.Credits.Length > 0)
{
    <h5>Credits:</h5>
            <div>
                <ul>
                    @foreach (var item in ViewBag.Credits)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
}

