@{
    Layout = null;
    var seriesTitle = "Saga";
    var issueNumber = 38;
    var description = "<p>\"THE WAR FOR PHANG,\" Part Two. When your babysitter's a ghost, death is never very far away.</p>";
    var credits = new string[]
    {
        "Script: Brian K. Vaughan",
        "Pencils: Fiona Staples",
        "Inks: Fiona Staples",
        "Colors: Fiona Staples",
        "Letters: Fonografiks",
        "Cover: Fiona Staples"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        <h5>Credits:</h5>
        <div>@credits</div>
    </div>
</body>
</html>
